<body style="padding:0px;margin:0px">
<h1 style="background:linear-gradient(rgb(226, 123, 72),rgb(221, 103, 44));color:white;padding:10px;text-align:center;font-size:40px;margin:0px">HAM</h1>

<p style="font-size:20px">Hi <%= @user.username %>,</p>

<p style="font-size:20px">
Below is the password reset link you requested.
</p>

<div style="text-align:center">
<%= link_to "Reset Password", "http://localhost:3000?token=#{@user.reset_password_token}&email=#{ERB::Util.url_encode(@user.email)}", 
{:style=>'color:white;background:linear-gradient(rgb(226, 123, 72),rgb(221, 103, 44));border:1px solid black;border-radius:5px;padding:10px;text-decoration:none;font-size:30px;', :class => "css_class"} %>
</div>

<p style="font-size:20px">Please feel free to email me with any questions, comments, or concerns you have with HAM.</p>
<p style="font-size:20px">Sincerely,</p>

<p style="font-size:20px">James Dorr, Creator of HAM</p>
</body>