Hi <%= @user.username %>,

Welcome to the HAM! Click on the link below to activate your account:

<a href="localhost:3001/confirm_email?email=#{URI::encode(@user.activation_digest)}&token=#{URI::encode(@user.email)}">Activate</a>
