<h1>HAM</h1>

<p>Hi <%= @user.username %>,</p>

<p>
Welcome to HAM! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_auth_url(@user.activation_digest,
                                                    email: @user.email) %>