<h1 style="background:linear-gradient(rgb(226, 123, 72),rgb(221, 103, 44));color:white;padding:10px;text-align:center;font-size:40px">HAM</h1>

<p style="font-size:20px">Hi <%= @user.username %>,</p>

<p style="font-size:20px">
Welcome to HAM! Click on the link below to activate your account:
</p>

<div style="text-align:center">
<%= link_to "Activate", edit_auth_url(@user.activation_digest, email: @user.email), {:style=>'color:white;background:linear-gradient(rgb(226, 123, 72),rgb(221, 103, 44));border:1px solid black;border-radius:5px;padding:10px;text-decoration:none;font-size:30px;', :class => "css_class"} %>
</div>

<p style="font-size:20px">Please feel free to email me with any questions, comments, or concerns you have with HAM.</p>
<p style="font-size:20px">Sincerely,</p>

<p style="font-size:20px">James Dorr, Creator of HAM</p>